@CHARSET "ISO-8859-1";

* {
    box-sizing: border-box;
    border:     0;                  /* Comment this out for debugging */
    }

body {
    background-color:   WhiteSmoke;
    margin:         0;
    }

/***********************************************************************
 *
 * Some useful classes
 */
.L { float: left;  }
.R { float: right; }
.C { margin-left:  auto; 
     margin-right: auto; 
     display:      block; 
     }

.M {    /* Middle, vertically */
    margin: 0;
    width: 100%;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    }

.B {    /* Bottom, vertically */
    width:    100%;
    position: absolute; 
    left:     0; 
    bottom:   0; 
    }

/***********************************************************************
 *
 * Other pages
 */
.PageDiv { width: 100%;
    max-width:      1024px;
    }

.NavButton { 
    max-height:     60px;
    border:         2px solid black;
    border-radius:  15px;
    float:          right;
    -moz-border-radius: 15px;
    }

.NavHeader { 
    width:          100%;
    }






.SSIDButton { 
    max-height:     60px;
    border:         2px solid black;
    border-radius:  15px;
    -moz-border-radius: 15px;
    }

.WifiText { 
    color:          orange;
    }

input {
    border-style:   solid;
    border-width:   1px;
    border-color:   black;
    font-family:    helvetica, arial, sans serif;
    padding-left:   0px;
    }
